doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Secret-Board
  body
    h1 Secret-Board
  a(href = '/logout') Logout
  h2 New post
  form(method="post" action="/posts")
    div
      textarea(name="content" cols=40 rows=4)
    div
      button(type="submit") Post
  h2 Post List
  each post in posts
    h3 #{post.id} : ID:#{post.trackingCookie}
    p!= post.content
    p Posted Date: #{post.createdAt}
    - var isAdmin = (user === 'admin')
      if isAdmin
        p Poster: #{post.postedBy}
    - var isDeletable = (user === post.postedBy || isAdmin)
      if isDeletable
        form(method="post" action="/posts?delete=1")
          input(type="hidden" name="id" value=post.id)
          button(type="submit") Delete
  hr